@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.intel{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  background: 
    linear-gradient(90deg, transparent 33%, #9F62F2 0 67%, transparent 0)
    0/300% 100% no-repeat text;
  animation: l2 2s linear infinite;
}

.loader:before {
  content: "Loading";
}

@keyframes l2 {
  0% {
    background-position: 100%;
  }
}